<h1>Login</h1>
<form  action="/login" method="post">
<input type="text" name="email" placeholder="Digite seu email">
<input type="password" name="senha" placeholder="Digite sua senha">
<input type="submit" value="Entrar">

</form>

<p>Não tem cadastro? <a href="/register">Clique aqui</a></p>

<a href="/produtos">Voltar</a>