<h1>Registrar</h1>
<form action="/register" method="post">
<label for="nome">Nome</label>
<input type="text" name="nome" placeholder="Digite seu nome">

<label for="email">Email</label>
<input type="email" name="email" placeholder="Email" >

<label for="senha">Senha</label>
<input type="password" name="senha" placeholder="Digite sua senha">

<label for="confirmacaoSenha">Confirme sua senha</label>
<input type="password" name="confirmacaoSenha" placeholder="Confirmar senha">

<input type="submit" value="Cadastrar">

</form>

<a href="/login">Voltar</a>