<h1>Cadastrar serviços</h1>
<form action="/produtos/cadastrar" method="post">

<label for="serviço">Serviços</label>
<input type="text" name="serviço" placeholder="Digite o serviço">
<label for="preço">Preço</label>
<input type="number" name="preço" placeholder="Digite o preço">
<label for="categoria">Categoria</label>
<input type="number" name="categoria" placeholder="img">
<input type="submit" value="Cadastrar">
</form>
<a href="/produtos/servicos">Ver serviços</a>